nav {
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.container-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  flex: 1;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  color: #E6D5B8;
  list-style-type: none;
  border: 1px solid rgba(238, 178, 110, 0.4);
  border-radius: 8px;
}
.menu:hover {
  cursor: pointer;
}